#verde{
    background-color: rgb(41, 252, 34);
}
#amarelo{
    background-color: rgba(250, 219, 45, 0.993);
}
#titulo_verde{
    background-color: rgb(0, 182, 55);
}
#titulo_amarelo{
    background-color: rgb(251, 255, 0);
}
#p_verde{
    background-color: rgb(0, 182, 55);
}
#p_marelo{
    background-color:  rgb(251, 255, 0);
}

