@charset "UTF-8";
/* Todas as demais medias
----------------------------
 Typicau Device Breakpoints
----------------------------
Telas Pequenas: áte 600px
----------------------------
Celular: de 600px áte 768px
----------------------------
Tablet: de 768px áte 992px
----------------------------
desktop: de 992px áte 1200px
----------------------------
TV: acima de 1200px
----------------------------
*/
/*  Cores:
    verde: #49a09d;
    lilais: #5f2c82;

*/
var{
    --cor1:#49a09d;
    --cor2:#5f2c82;
}
